<div class="aboutUs-wrap">
    <div class="container">

        <div class="grid">
            <div class="col-12 lg:col-6 lg:pr-4">
                <div class="aboutUs-images">
                    <div class="au-img" style="width: 59%; margin-right: 3%; margin-bottom: 20px;">
                        <img src="assets/images/about-us-img-1.jpg" alt="About Us" />
                    </div>
                    <div class="au-img-circle" style="width: 35%;">
                        <img src="assets/images/Star.png" alt="About Us" />
                        <div class="star-content">
                            <div>+16</div>
                            <div>Successful <br>Years</div>
                        </div>
                    </div>
                    <div class="au-img" style="width: 31%; margin-right: 3%;">
                        <img src="assets/images/about-us-img-2.jpg" alt="About Us" />
                    </div>
                    <div class="au-img" style="width: 52%;">
                        <img src="assets/images/about-us-img-3.jpg" alt="About Us" />
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 lg:pl-4">
                <h2 class="mb-3">About Us</h2>
                <p class="text-grey mb-5">We offer unlimited, high-speed fiber optic broadband to the rural/semi-rural homes in Western Loudoun County, VA.</p>
                <ul class="list-none m-0 p-0">
                    @for (item of aboutUsItems; let i = $index; track item.id) {
                      <li class="aboutUsItem" [class.active]="i % 2 !== 0">
                        <img 
                          [src]="i % 2 === 0 
                            ? 'assets/images/fency-arrow-right-grey.png' 
                            : 'assets/images/fency-arrow-right-blue.png'" 
                          alt="arrow" />
                        <span class="pl-3">{{ item.text }}</span>
                      </li>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>
