<div class="app-banner">
    <app-banner></app-banner>
</div>
<div class="app-packages">
    <app-packages></app-packages>
</div>
<div class="app-services">
    <app-services></app-services>
</div>
<div class="app-installation-questions">
    <app-installation-questions></app-installation-questions>
</div>
<div class="app-about-us">
    <app-about-us></app-about-us>
</div>
<app-contact-info></app-contact-info>
<div class="app-faq">
    <app-faq></app-faq>
</div>
<app-subscribe-form></app-subscribe-form>
<app-blogs></app-blogs>